* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.card {
    border-radius: 1rem;
    box-shadow: 0 2px 8px 2px rgb(99, 99, 99);
}

.name {
    color: white;
    border-radius: 1rem 1rem 0 0;
}

.coffe {
    border: .1rem solid #704000;
}

.coffe-name {
    background-color: #704000;
}

.gaseosa {
    border: .1rem solid #07024b;
}

.gaseosa-name {
    background-color: #07024b;
}

.pastas {
    border: .1rem solid #bd850d;
}

.pastas-name {
    background-color: #bd850d;
}

.pizza {
    border: .1rem solid #e23213;
}

.pizza-name {
    background-color: #e23213;
}

.dessert {
    border: .1rem solid #9b0b5f;
}

.dessert-name {
    background-color: #9b0b5f;
}

.tragos {
    border: .1rem solid #131414;
}

.tragos-name {
    background-color: #131414;
}

.price {
    background-color: #ff6a0e;
    color: white;
    border-radius: .5rem;
}

@media screen and (min-width: 320px) {
    .product-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card {
        margin: 1rem 0rem;
    }

    .price {
        width: 40%;
        padding: 0.5rem;
    }
}

@media screen and (min-width: 768px) {
    .product-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .card {
        margin: 2rem 0rem;
    }
}